# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
import numpy as np
import pandas as pd
import statistics 
from scipy.stats import ttest_1samp
from scipy.stats import norm
import math

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [11]:
salaries=pd.read_csv('/Users/abc/Portfolio/module-2/2.7 Hypothesis-Testing/employees chicago.csv')

Examine the `salaries` dataset using the `head` function below.

In [12]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"ADRIANO, RACQUEL ANNE",PARAMEDIC,FIRE,F,Salary,NaN,72510.0,NaN
1,"AFFANEH, MAHIR A",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN
2,"AFOENYI, PHYLLIS",TITLE V PROGRAM TRAINEE I,FAMILY & SUPPORT,P,Hourly,20.0,NaN,13.0
3,"AGAR, BULENT B",DEPUTY COMMISSIONER,WATER MGMNT,F,Salary,NaN,132972.0,NaN
4,"AGEE, LAWRENCE",POLICE OFFICER,POLICE,F,Salary,NaN,90024.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [13]:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25528
Annual Salary         8174
Hourly Rate          25528
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [14]:
salaries['Salary or Hourly'].value_counts().reset_index()

    index  Salary or Hourly
0  Salary             25528
1  Hourly              8174

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [15]:

salaries['Department'].value_counts()

POLICE                 13848
FIRE                    4627
STREETS & SAN           2175
WATER MGMNT             1914
AVIATION                1856
OEMC                    1737
TRANSPORTN              1113
PUBLIC LIBRARY          1088
DAIS                    1033
FAMILY & SUPPORT         656
FINANCE                  544
HEALTH                   467
LAW                      398
CITY COUNCIL             362
BUILDINGS                258
PUBLIC SAFETY ADMIN      244
BUSINESS AFFAIRS         167
HOUSING & ECON DEV       154
COPA                     123
BOARD OF ELECTION        111
MAYOR'S OFFICE           104
INSPECTOR GEN             95
CITY CLERK                88
PROCUREMENT               84
ANIMAL CONTRL             75
HUMAN RESOURCES           75
CULTURAL AFFAIRS          74
HOUSING                   66
BUDGET & MGMT             44
ADMIN HEARNG              38
TREASURER                 28
DISABILITIES              28
HUMAN RELATIONS           17
BOARD OF ETHICS            8
POLICE BOARD               2
LICENSE APPL COMM          1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [18]:
from scipy.stats import ttest_1samp

# Ho: the mean hourly wage is equal to $30/h.
# Ha: the mean hourly wage is different to $30/h.


df = salaries.dropna(axis=0, subset=['Hourly Rate'])
series=df['Hourly Rate']

stat,pval=ttest_1samp(series,30)

print("Null hypothesis rejected") if p < 0.05 else print("Null hypothesis can't be rejected")

print('2 sided P-value is: {}'.format(pval))
print('stat is: {}'.format(stat))

Null hypothesis rejected
2 sided P-value is: 3.825475847673794e-202
stat is: 31.211500329216044

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [21]:
# Ho: the salaries this year <= last year's mean of $86000/year for salaried employees.
# Ha: the salaries this year > last year's mean of $86000/year for salaried employees.


police_filtered = salaries[(salaries['Salary or Hourly'] == 'Salary') & (salaries['Department'] == 'POLICE')]
police_salaries = police_filtered['Annual Salary']


stat, p_two_tailed = ttest_1samp(police_salaries, 86000)  # Default confidence level 95%


p_one_tailed = p_two_tailed / 2

if p_one_tailed < 0.05 and stat > 0:     # stat >0 ????
    print("Null hypothesis rejected")
    print("The mean salary this year is greater than last year's mean")
else:
    print("Null hypothesis can't be rejected")
    
print('Statistic: ', stat)
print('p-value: ', p_one_tailed)

Null hypothesis rejected
The mean salary this year is greater than last year's mean
Statistic:  18.51748561981861
p-value:  6.119566952121482e-76

Using the `crosstab` function, find the department that has the most hourly workers.

In [19]:

pd.crosstab(salaries['Department'], salaries['Salary or Hourly']).sort_values(by = 'Hourly', ascending = False)

Salary or Hourly     Hourly  Salary
Department
STREETS & SAN          1846     329
WATER MGMNT            1558     356
AVIATION               1214     642
OEMC                   1077     660
DAIS                    745     288
TRANSPORTN              726     387
FAMILY & SUPPORT        357     299
PUBLIC LIBRARY          356     732
CITY COUNCIL             74     288
LAW                      48     350
PUBLIC SAFETY ADMIN      48     196
FINANCE                  45     499
POLICE                   24   13824
MAYOR'S OFFICE           17      87
ANIMAL CONTRL            12      63
CULTURAL AFFAIRS         10      64
BUSINESS AFFAIRS          7     160
HOUSING & ECON DEV        3     151
PROCUREMENT               2      82
HEALTH                    2     465
BUDGET & MGMT             2      42
DISABILITIES              1      27
POLICE BOARD              0       2
TREASURER                 0      28
ADMIN HEARNG              0      38
LICENSE APPL COMM         0       1
INSPECTOR GEN             0      95
HUMAN RESOURCES           0      75
HUMAN RELATIONS           0      17
FIRE                      0    4627
COPA                      0     123
CITY CLERK                0      88
BUILDINGS                 0     258
BOARD OF ETHICS           0       8
BOARD OF ELECTION         0     111
HOUSING                   0      66

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [22]:
# Ho: the mean hourly wage is greater or equal than $35/hour.
# Ha: the mean hourly wage is lower than $35/hour.

alpha = 0.05;
streets_filtered = salaries[(salaries['Salary or Hourly'] == 'Hourly') & (salaries['Department'] == 'STREETS & SAN')]
streets_salaries = streets_filtered['Hourly Rate']
st, p_two_tailed = ttest_1samp(streets_salaries, 35)

p_one_tailed = p_two_tailed / 2

if p_one_tailed < alpha and st < 0:
    print("Null hypothesis rejected")
    print("The mean hourly wage is lower than $35/hour")
else:
    print("Null hypothesis can't be rejected")
    
print('Statistic: ', st)
print('p-value: ', p_one_tailed)

Null hypothesis can't be rejected
Statistic:  4.000138803968834
p-value:  3.2902372218867895e-05

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [23]:
from scipy.stats import t, sem

# Variables
conf_lvl = 0.95;
deg_fr = len(hourly_rate) - 1
mean = np.mean(hourly_rate)
sm = sem(hourly_rate)

# Confidence interval
t.interval(conf_lvl, df=deg_fr, loc=mean, scale=sm)

(34.29839539204317, 34.874504045196865)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [25]:

conf_lvl = 0.95;
deg_fr = len(police_salaries) - 1
mean = np.mean(police_salaries)
sm = sem(police_salaries)


conf=t.interval(conf_lvl, df=deg_fr, loc=mean, scale=sm)

print('I am 95% confident that the average annual amount of all salaried employees in POLICE department is between ${} and ${}.'.format(conf[0],conf[1]))

I am 95% confident that the average annual amount of all salaried employees in POLICE department is between $88534.1182885883 and $89134.11955863392.

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [26]:
from statsmodels.stats.proportion import proportions_ztest


# Ho: the proportion of hourly workers is equal to 25%.
# Ha: the proportion of hourly workers is different to 25%.

alpha = 0.05;

st, p = proportions_ztest(count=salaries['Salary or Hourly'].value_counts()['Hourly'], nobs=salaries.shape[0], value=0.25)

print("Null hypothesis rejected") if p < alpha else print("Null hypothesis can't be rejected")

print('Statistic: ', st)
print('p-value: ', p)

Null hypothesis rejected
Statistic:  -3.1962453870335
p-value:  0.0013922864704323116